<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Car Dealer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color: teal">
  <div class="container">
    <div class="jumbotron" style="text-align: center">
      <h1>Welcome to The Lot Lizard!</h1>
    </div>
    <a href='/cars/new' style="color: orange;">Add a new car</a>
    <br><br>
    <a href='/cars' style="color: orange;">See list of cars</a>
  </div>
</body>

</html>